server:
  port: ${PORT:8080}

spring:
  application:
    name: portfoliomanager

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    baseline-on-migrate: true

finnhub:
  api:
    key: ${FINNHUB_API_KEY}

polygon:
  api:
    key: ${POLYGON_API_KEY}

jwt:
  secret: ${JWT_SECRET}
  expiration: 3600000

gemini:
  apiKey: ${GEMINI_API_KEY}
  model: gemini-2.5-flash

  mail:
    host: smtp-relay.brevo.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
